body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	margin: 5px;
	background-color: #687864;
}

#listenercountwrapper {
  width: 80vw;
  background-color: #31708e;
  margin: 5px;
  border: 1px solid #687864;
  border-radius: 10px;
}

#listeners {
	border: 0;
}

#songwrapper {
  width: 80vw;
  background-color: #f7f9fb;
  margin: 5px;
  border: 1px solid #31708e;
  border-radius: 10px;
}

#streamoverviewwrapper {
  width: 80vw;
  background-color: #f7f9fb;
  margin: 5px;
  border: 1px solid #31708e;
  border-radius: 10px;
}

#streamoverview {
	border: 0;
	margin: 10px;
}

#streamdetails {
  width: 80vw;
  background-color: #f7f9fb;
  margin: 5px;
  border: 1px solid #31708e;
  border-radius: 10px;
}

#streamdetails table {
  margin: 5px;
  width: 100%;
}

.tablehead {
  font-weight: bold;
  color: #31708e;
}

#footer {
  width: 80vw;
  background-color: #f7f9fb;
  margin: 5px;
  border: 1px solid #31708e;
  border-radius: 10px;
}

h1 {
	font-size: 22px;
	color: #8fc1e3;
}

h2 {
	font-size: 14px;
	color: #8fc1e3;
	margin: 2px;
}

p {
	margin: 5px;
}

a {
	color: #5085a5;
	text-decoration: none;
}

a:hover {
	color: #8fc1e3;
}

div.line {
	border-bottom: 1px dashed #31708e;
	height: 3px;
	font-size: 1px;
	margin-top: 0;
}

.red {
	color: #CC0000;
	font-weight: bold;
}
.small {
	font-size: 10px;
}
